<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8"/>
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <title>{{title}}</title>
        <meta name="keywords" content="{%block keywords%}étudiants, magazine, science de la communication{%endblock%}"/>
        <meta name="description" content="{%block description%}Le magazine des étudiants en science de la communication{%endblock%}"/>
        {{css('index.css')}}
    </head>
    <body>
        {%if user_infos!=false%}
            <div id="user-infos">
                <ul>
                    <li>Bienvenue {{anchor('user/profil', user_infos.username)}}</li>
                    <li>{{anchor('user/logout', 'Déconnexion')}}</li>
                    <li>{{anchor('admin/index', 'Administration')}}</li>
                    <li>{{anchor('article/new', 'Nouvel article')}}</li>
                </ul>
            </div>
        {%endif%}
        {%block header%}
            <header>
                <h2>{{anchor('main/index', 'Le Journal')}}</h2>
                <div id="contact">{{anchor('main/contact','Contact')}}</div>
            </header>
            {%endblock%}

            {%block nav%}
            <nav>
                <ul id="rubrique">
                    <li id="accueil">{{anchor('main/index','Accueil')}}</li>
                    {%for rubrique in rubriques%}
                    <li>{{anchor('main/index/'~rubrique.url_name, rubrique.name)}}</li>
                    {%endfor%}
                </ul>
                <ul id="sub-rubrique">
                    {%for sub in sub_rub.getSub_rubrique%}
                    <li>{{anchor('main/index/'~sub_rub.url_name~'/'~sub.url_name, sub.name)}}</li>
                    {%endfor%}

                </ul>
            </nav>
            {%endblock%}
            {%block main%}
            <div id="main">
                <div id ="content">
                 {%block content%}
                 {%endblock%}
                    </div>
                {%block aside%}
                    <div id="aside">
                        <aside>
                            <h4>News</h4>
                            <ul>
                                <li>Une premeière news</li>
                                <li>Une deuxième news</li>
                                <li>Une troisième news</li>
                            </ul>
                        </aside>
                        <aside>
                            <h4>Agenda</h4>
                            <ul>
                                <li>Un événement</li>
                                <li>Un événement</li>
                                <li>Un événement</li>
                            </ul>
                        </aside>
                    </div>
                {%endblock%}
                </div>
            {%endblock%}

            {%block footer%}
                <footer>
                    <address>
                        <p>Crée par numa, mara, martina, aurélia et amandine</p>
                        Nous {{anchor('main/contact', 'contacter')}}
                    </address>
                </footer>
            {%endblock%}
            {%block js%}
            {%endblock%}
            </body>
        </html>